<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<style>
    .scrollbar-custom::-webkit-scrollbar {
        width: 3px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #333;
        border-radius: 6px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 6px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
</style>

<body class="bg-gray-800 text-gray-300">
    <div class="flex h-screen">
        <aside
            class="w-full md:w-[425px] bg-gray-800 border-r border-gray-700 grid grid-cols-[auto,1fr] transition-all duration-300">
            <!-- Coluna 1 -->
            <div class="flex flex-col justify-between border-r border-gray-700">
                <!-- Menu Hamburguer -->
                <div class="p-4">
                    <button class="p-2 rounded-lg cursor-pointer">
                        <i class="ri-menu-line text-xl"></i>
                    </button>
                </div>

                <!-- Icônes abaixo do menu hamburguer -->
                <div class="p-4 flex flex-col space-y-4">
                    <a class="p-2 rounded-lg cursor-pointer" title="Chat">
                        <i class="ri-chat-3-fill text-xl text-indigo-400"></i>
                    </a>
                    <a class="p-2 rounded-lg relative cursor-pointer" title="Notificações">
                        <i class="ri-notification-3-fill text-xl text-gray-400"></i>
                        <span
                            class="absolute top-0 right-0 inline-flex items-center justify-center w-5 h-5 text-xs font-bold text-white bg-indigo-400 rounded-full">
                            5
                        </span>
                    </a>
                    <a class="p-2 rounded-lg cursor-pointer" title="Configurações">
                        <i class="ri-settings-3-fill text-xl text-gray-400"></i>
                    </a>
                    <a class="p-2 rounded-lg cursor-pointer" title="Modo Escuro">
                        <i class="ri-moon-fill text-xl text-gray-400"></i>
                    </a>
                </div>


                <!-- User Profile -->
                <div class="border-t border-gray-700 p-4">
                    <div class="flex items-center">
                        <div class="w-8 h-8 rounded-full bg-gray-300 flex items-center justify-center">
                            <i class="ri-user-line text-gray-600"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Coluna 2 -->
            <div class="flex flex-col overflow-hidden">
                <!-- Menu Hamburguer -->
                <div class="p-4 border-b border-gray-700">
                    <h1 class="p-2 ml-3 font-semibold text-xl">Mensagens</h1>
                </div>
                <!-- Navegação -->
                <nav class="flex-1 overflow-y-auto overflow-x-hidden scrollbar-custom p-4">

                    <div class="flex items-center justify-center">
                        <div class="w-32 h-32 rounded-full bg-gray-600 flex items-center justify-center mt-6 mb-6">
                            <i class="ri-user-line text-[32px]"></i>
                        </div>
                    </div>

                    <div class="w-full flex flex-col px-5" aria-hidden="false">
                        <div>
                            <div class="flex justify-start">
                                <label class="mb-3">
                                    <span class="w-13 text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[.01rem]">
                                        Primeiro Nome
                                    </span>
                                </label>
                            </div>
                            <div class="relative">
                                <input type="text" class="max-w-full w-full h-8 p-4 rounded-sm content-center opacity-50 transition duration-200 ease-out dark:text-white dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 mb-7" readonly value="John">
                                <div class="absolute top-0 right-0"></div>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-start">
                                <label class="mb-3">
                                    <span class="w-13 text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[.01rem]">
                                        Segundo Nome
                                    </span>
                                </label>
                            </div>
                            <div class="relative">
                                <input type="text" class="max-w-full w-full h-8 p-4 rounded-sm content-center opacity-50 transition duration-200 ease-out dark:text-white dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 mb-7" readonly value="Doe">
                                <div class="absolute top-0 right-0"></div>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-start">
                                <label class="mb-3">
                                    <span class="w-13 text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[.01rem]">
                                        Departamento
                                    </span>
                                </label>
                            </div>
                            <div class="relative">
                                <input type="text" class="max-w-full w-full h-8 p-4 rounded-sm content-center opacity-50 transition duration-200 ease-out dark:text-white dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 mb-7" readonly value="Tecnologia">
                                <div class="absolute top-0 right-0"></div>
                            </div>
                        </div>
                        <div>
                            <div class="flex justify-start">
                                <label class="mb-3">
                                    <span class="w-13 text-sm text-black opacity-60 dark:text-white dark:opacity-70 font-semibold leading-4 tracking-[.01rem]">
                                        Função
                                    </span>
                                </label>
                            </div>
                            <div class="relative">
                                <input type="text" class="max-w-full w-full h-8 p-4 rounded-sm content-center opacity-50 transition duration-200 ease-out dark:text-white dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 mb-7" readonly value="Administrador">
                                <div class="absolute top-0 right-0"></div>
                            </div>
                        </div>
                        <div class="flex flex-col mb-7">
                            <div class="flex justify-start">
                                <label class="mb-3">
                                    <span class="w-13 text-black text-opacity-60 dark:text-white dark:text-opacity-70 text-sm font-semibold leading-4 tracking-[.01rem]">
                                        Avatar
                                    </span>
                                </label>
                            </div>
                            <label tabindex="0" class="cursor-pointer w-full h-[6.25rem] border border-dashed rounded-sm p-5 border-gray-200 dark:border-gray-500 flex justify-center items-center hover:bg-opacity-0 active:bg-opacity-0 focus:bg-opacity-0 outline-none focus:outline-none duration-500 transition-all bg-gray-50 dark:bg-opacity-70 dark:bg-gray-700 dark:hover:bg-opacity-0 dark:focus:bg-opacity-0">
                                <input type="file" hidden="" name="files[]" accept="image/*">
                                <div class="">
                                    <p class="outline-none text-sm font-normal leading-4 tracking-[.01rem] text-black text-opacity-40 dark:text-white dark:text-opacity-70">
                                        Choose a file 
                                        <br> or drop it here. 
                                    </p>
                                </div>
                            </label>
                        </div><button tabindex="0"
                            class="group p-3 flex justify-center items-center rounded-sm transition-all duration-200 ease-out outline-none bg-indigo-300 dark:bg-indigo-400 active:ring active:ring-indigo-200', focus:outline-none focus:ring focus:ring-indigo-100 w-full py-4">
                            <p class="text-sm font-semibold text-white leading-4 tracking-[.01rem]"> Save Settings </p>
                        </button>
                    </div>

                </nav>
            </div>

        </aside>

    <main class="flex-1 flex flex-col">

        <div class="p-5 border-b border-gray-700">
            <div class="flex items-center">
                <i class="ri-arrow-left-s-line text-[23px] mr-3 cursor-pointer md:hidden"
                    onclick="openChatMobile()"></i>
                <div class="w-9 h-9 rounded-full bg-gray-600 flex items-center justify-center">
                    <i class="ri-user-line"></i>
                </div>
                <h1 class="ml-3 font-semibold text-xl">John Doe</h1>
            </div>
        </div>

        <!-- Chat Messages -->
        <div class="flex-1 overflow-y-auto scrollbar-custom p-6 space-y-6 overflow-x-hidden">
            <div class="space-y-4">
                <!-- Customer Message -->
                <div class="flex items-start space-x-3">
                    <div class="bg-gray-700 p-4 rounded-e-xl rounded-es-xl shadow max-w-2xl">
                        <p class="whitespace-pre-wrap break-words">Hey there.</p>
                        <span class="text-xs text-gray-400 block mt-1 text-right text-end">10:30 AM</span>
                    </div>
                </div>


                <!-- User Message -->
                <div class="flex items-start space-x-3 justify-end">
                    <div class="bg-gray-700 p-4 rounded-tl-xl rounded-bl-xl rounded-br-xl shadow max-w-2xl">
                        <p class="whitespace-pre-wrap break-words">Hi! Nice to meet you.</p>
                        <span class="text-xs text-gray-400 block mt-1 text-right">10:30 AM</span>
                    </div>
                </div>

                <!-- Customer Audio Message -->
                <div class="flex items-start space-x-3">
                    <div class="w-[40vh] bg-gray-700 p-4 rounded-e-xl rounded-es-xl shadow max-w-2xl">
                        <div class="flex items-center space-x-4">
                            <button onclick="toggleAudio(this)"
                                class="w-9 h-9 bg-violet-500 rounded-[.75rem] flex items-center justify-center hover:bg-violet-400">
                                <i class="ri-play-line text-xl"></i>
                            </button>
                            <div id="waveform" class="flex-1"></div>
                            <span id="timeAudio" class="text-xs block mt-1 text-right">00:00</span>
                        </div>
                        <span class="text-xs text-gray-400 block mt-1 text-end">10:30 AM</span>
                    </div>
                </div>

                <!-- User Audio Message -->
                <div class="flex items-start space-x-3 justify-end">
                    <div class="w-[40vh] bg-gray-700 p-4 rounded-tl-xl rounded-bl-xl rounded-br-xl shadow max-w-2xl">
                        <div class="flex items-center space-x-4">
                            <button onclick="toggleAudio(this)"
                                class="w-9 h-9 bg-violet-500 rounded-[.75rem] flex items-center justify-center hover:bg-violet-400">
                                <i class="ri-play-line text-xl"></i>
                            </button>
                            <div id="waveform" class="flex-1"></div>
                            <span id="timeAudio" class="text-xs block mt-1 text-right">00:00</span>
                        </div>
                        <span class="text-xs text-gray-400 block mt-1 text-right">10:30 AM</span>
                    </div>
                </div>

                <!-- Customer Media Message -->
                <div class="flex items-start space-x-3">
                    <div class="w-[45vh] bg-gray-700 p-4 rounded-e-xl rounded-es-xl shadow max-w-2xl">
                        <a href="#" class="block">
                            <img src="/img/2.jpg" alt="Imagem" class="object-cover rounded-lg">
                            <p class="whitespace-pre-wrap break-words mt-2">Hello World</p>
                        </a>
                        <span class="text-xs text-gray-400 block mt-1 text-right">10:30 AM</span>
                    </div>
                </div>

                <!-- User Media Message -->
                <div class="flex items-start space-x-3 justify-end">
                    <div class="w-[45vh] bg-gray-700 p-4 rounded-tl-xl rounded-bl-xl rounded-br-xl shadow max-w-2xl">
                        <a href="#" class="block">
                            <img src="/img/2.jpg" alt="Imagem" class="object-cover rounded-lg">
                            <p class="whitespace-pre-wrap break-words mt-2">Hello World</p>
                        </a>
                        <span class="text-xs text-gray-400 block mt-1 text-right">10:30 AM</span>
                    </div>
                </div>

            </div>
        </div>

        <!-- Input Area -->
        <div class="p-3 bg-gray-800">

            <!-- Basic Input Area -->
            <div id="basicInputArea" class="flex items-center relative">
                <button type="button" data-dropdown-toggle="attachmentsDropdown" data-dropdown-placement="top"
                    class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 focus:bg-gray-50 dark:focus:bg-gray-600 transition-all duration-200 group w-9 h-9 mr-4">
                    <i class="ri-attachment-2 text-[25px] opacity-75"></i>
                </button>

                <textarea
                    class="max-w-full w-full px-5 py-3 rounded-lg content-center outline-none text-sm placeholder:text-black placeholder:opacity-40 text-opacity-70 dark:placeholder:text-white dark:placeholder:opacity-70 focus:outline-none transition duration-200 ease-out text-black bg-gray-50 dark:text-white border-opacity-0 dark:bg-gray-700 dark:bg-opacity-70 dark:border-opacity-70 dark:border-gray-700 max-h-[5rem] pr-[3.125rem] resize-none scrollbar-hidden scrollbar-custom"
                    cols="30" rows="1" placeholder="Escreva sua mensagem aqui"></textarea>

                <div class="absolute bottom-[.45rem] right-12">
                    <button type="button" data-dropdown-toggle="emojiDropdown" data-dropdown-placement="top"
                        class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 focus:bg-gray-50 dark:focus:bg-gray-600 transition-all duration-200 toggle-picker-button group w-7 h-7 md:mr-5 xs:mr-4">
                        <i class="ri-emoji-sticker-line text-[20px] opacity-75"></i>
                    </button>
                </div>

                <button onclick="activeVoiceSpeaker()"
                    class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 focus:bg-gray-50 dark:focus:bg-gray-600 transition-all duration-200 group w-9 h-9 md:mr-3 xs:mr-4 ml-3">
                    <i class="ri-mic-line text-[20px] opacity-75"></i>
                </button>
            </div>

            <!-- Voice Input Area -->
            <div id="voiceInputArea" class="flex items-center relative hidden">
                <button onclick="cancelVoiceSpeaker()" type="button"
                    class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 focus:bg-gray-50 dark:focus:bg-gray-600 transition-all duration-200 group w-9 h-9 mr-4">
                    <i class="ri-delete-bin-line text-red-400 text-[25px] opacity-75"></i>
                </button>

                <div class="max-w-full text-center w-full px-10 py-2 text-lg">
                    <p>00:00</p>
                </div>

                <button onclick="cancelVoiceSpeaker()"
                    class="group flex justify-center items-center rounded-full outline-none focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 focus:bg-gray-50 dark:focus:bg-gray-600 transition-all duration-200 group w-9 h-9 md:mr-3 xs:mr-4 ml-3">
                    <i class="ri-send-plane-2-line text-[25px] opacity-75"></i>
                </button>
            </div>

        </div>

        <!-- Emoji Dropdown -->
        <div id="emojiDropdown" class="z-10 hidden">
        </div>

        <!-- Attachments Dropdown -->
        <div id="attachmentsDropdown"
            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownTopButton">
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-base">
                        <i class="ri-file-text-fill text-indigo-500 mr-1"></i> Documentos
                    </a>
                </li>
                <li>
                    <a href="#"
                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-base">
                        <i class="ri-image-fill text-blue-500 mr-1"></i> Fotos
                    </a>
                </li>
            </ul>
        </div>

    </main>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script>
    let chatOpen = false; // Estado inicial do chat
    let audioPlaying = false; // Estado inicial do áudio

    const textarea = document.querySelector('textarea');
    const main = document.querySelector('main');
    const aside = document.querySelector('aside');
    const emojiDropdown = document.querySelector('#emojiDropdown');
    const basicInputArea = document.querySelector('#basicInputArea');
    const voiceInputArea = document.querySelector('#voiceInputArea');

    const pickerOptions = {
        onEmojiSelect: (emoji) => {
            textarea.value += emoji.native;
            textarea.focus();
        },
        locale: 'pt',
        previewPosition: 'none'
    }
    const picker = new EmojiMart.Picker(pickerOptions)
    emojiDropdown.appendChild(picker);

    const wavesurfer = WaveSurfer.create({
        container: '#waveform',
        waveColor: '#4F4A85',
        progressColor: '#383351',
        barWidth: 3,
        responsive: 'true',
        height: 50,
        barRadius: 4,
    });

    wavesurfer.load('/test.mp3');

    // Atualiza o span com a duração do áudio ao carregar
    wavesurfer.on('ready', () => {
        const duration = wavesurfer.getDuration(); // Obtém a duração em segundos
        const formattedDuration = formatTime(duration); // Formata em minutos e segundos
        const timeAudio = document.getElementById('timeAudio');

        timeAudio.textContent = `${formattedDuration}`;
    });

    // Função para formatar o tempo em MM:SS
    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const secs = Math.floor(seconds % 60);
        return `${String(minutes).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
    }

    const toggleAudio = (element) => {
        const icon = element.querySelector('i');
        audioPlaying = !audioPlaying;

        if (audioPlaying) {
            icon.classList.remove('ri-play-line');
            icon.classList.add('ri-pause-mini-line');
        } else {
            icon.classList.remove('ri-pause-mini-line');
            icon.classList.add('ri-play-line');
        }

        wavesurfer.playPause()
    }

    const activeVoiceSpeaker = () => {
        basicInputArea.classList.add('hidden');
        voiceInputArea.classList.remove('hidden');
        voiceTimer();
    }

    const cancelVoiceSpeaker = () => {
        basicInputArea.classList.remove('hidden');
        voiceInputArea.classList.add('hidden');
        stopVoiceTimer();
    }

    const voiceTimer = () => {
        let seconds = 0;
        const timer = setInterval(() => {
            seconds++;
            const minutes = Math.floor(seconds / 60);
            const displaySeconds = seconds % 60;
            voiceInputArea.querySelector('p').textContent = `${minutes.toString().padStart(2, '0')}:${displaySeconds.toString().padStart(2, '0')}`;
        }, 1000);
        voiceInputArea.dataset.timer = timer;
    }

    const stopVoiceTimer = () => {
        clearInterval(voiceInputArea.dataset.timer);
        voiceInputArea.querySelector('p').textContent = `00:00`;
    }

    // Ajuste da altura do textarea
    textarea.addEventListener('input', function () {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    });

    // Verifica o estado do layout ao redimensionar
    const checkMobile = () => {
        if (window.innerWidth <= 768) {
            // Mantém o estado do chat
            if (chatOpen) {
                aside.classList.add('hidden');
                main.classList.remove('hidden');
            } else {
                aside.classList.remove('hidden');
                main.classList.add('hidden');
            }
        } else {
            // Em telas maiores, sempre mostra ambos
            aside.classList.remove('hidden');
            main.classList.remove('hidden');
        }
    };

    // Abre ou fecha o chat no mobile
    const openChatMobile = () => {
        if (window.innerWidth <= 768) {
            chatOpen = !chatOpen; // Alterna o estado do chat
            if (chatOpen) {
                aside.classList.add('hidden');
                main.classList.remove('hidden');
            } else {
                aside.classList.remove('hidden');
                main.classList.add('hidden');
            }
        }
    };

    // Inicializa a verificação de layout
    checkMobile();
    window.addEventListener('resize', checkMobile);
</script>

</html>